@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slideBox {
  width: 80%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  border: 5px solid red; 
}

.slick-track{
  height:auto;
  display:flex;
  justify-content:center;
  align-items: center;
}

.slick-slider {
  height: 150px;
}

.slide img {
  border: 1px red solid;
  height: 150px;
  max-height: 200px;
  margin: 0;
  object-fit: cover;
  border-radius: 1em;

}

/* .slick-slide > div {
  display: grid;
  place-items: center;
  width: 80%;
  margin-top: 50px;
  margin: auto;
  height: 500px;
  padding: 0px;
  background: red;
} */

.slide {
  border: 1px yellow solid;
  transfrom: scale(0.6);
  transition: transform 300ms ease-in-out;
  opacity: 0.2;
}

.adjacentSlide {
  transform: scale(0.8);
  opacity: 0.7;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
  display:flex;
  align-items:center;
}

/* .farSlide {
  transform: scale(0.6);
  opacity: 0.5;
} */

.arrow {
  font-size: 30px;
  position: absolute;
  curcer: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}
.arrow svg:hover {
  color: white;
}

.right {
  right: -5%;
  top: 50%;
}

.left {
  left: -5%;
  top: 50%;
}
