@tailwind base;
@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');

@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

* {
    min-height: 0;
    min-width: 0;
    background: #141414;
}

body {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

/* 헤더 버튼용 css */
.nav-link {
    @apply text-sm text-center;
}

#slider1 .slick-list {
    /* 부모 */
    height: 270px;
}

#slider1 .slick-slide > div {
    /* 자식 안에 div */
    margin: 10px;
    /* overflow: hidden;
    border-radius: 25px; */    
}




/* //slick slide에는 overflow가 걸려 있어 */
/* 
#slider1 .slick-slider {
    width: 100%;
    background-color: transparent;
    .slick-track {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        height: 200px;
        justify-content: center;
    }
    .slick-slide {
        float: none;
        display: inline-block;
        vertical-align: middle;
        padding: 0px 0px;
        margin: 10px;
        background-color: white;
        transition: all 0.3s ease;
        height: auto;
        text-align: center;
        &.slick-current,
        &.slick-center {
            background: linear-gradient(45deg, rgb(246, 146, 89), rgb(241, 105, 117));
            padding: 30px 0px;
            //margin: 50px 0px;
        }
    }
} 



 #slider1.slick-prev,
#slider1.slick-next {
    z-index: 10;
    top: 0px;
    background-color: transparent;
}
#slider1.slick-prev {
    left: 10px;
}
#slider1.slick-next {
    right: 10px;
}

.slick-slide {
    padding-right: 20px;
}  */

.slick-slide > div {
    /* display: grid; */

    /* height:100px; */
    /* padding: 0px; */
}

/* 중간 크기 슬라이드 스타일 */
.medium-slide {
    /* width: 200px; 원하는 중간 크기 설정 */
    /* height: 200px; 원하는 중간 크기 설정 */
}

/* 작은 크기 슬라이드 스타일 */
.small-slide {
    /* width: 100px; 원하는 작은 크기 설정 */
    /* height: 100px; 원하는 작은 크기 설정 */
}
*::-webkit-scrollbar  {
    display: none;
}

*.link {
    cursor: pointer;
}